## Experiments: Comparing RSAST with other methods

In [44]:
# Import the os module
import os
import sys
path = r'C:\Users\Surface pro\random_sast'
try:
    os.chdir(path)
    print("Current working directory: {0}".format(os.getcwd()))
except FileNotFoundError:
    print("Directory: {0} does not exist".format(path))
except NotADirectoryError:
    print("{0} is not a directory".format(path))
except PermissionError:
    print("You do not have permissions to change to {0}".format(path))

sys.path.append(r'C:\Users\Surface pro\random_sast\sast')

Current working directory: C:\Users\Surface pro\random_sast

In [45]:
from sast import *
from sktime.datasets import load_UCR_UEA_dataset, tsc_dataset_names
from sktime.classification.kernel_based import RocketClassifier
import time
import pandas as pd
from sktime.transformations.panel.shapelet_transform import ShapeletTransform
import matplotlib.pyplot as plt
import seaborn as sns
import math
from utils_sast import delete_files_in_directory
from cd_diagram.cd_function import *

### Reading Datasets

In [46]:

# Set directory where the csv files are located
directory = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_by_classifier'

# Create an empty list to store the dataframes
dfs = []

header=['dataset']
res = [str(ele) for ele in range(30)]
header.extend(res)

# Loop through all files in the directory
for filename in os.listdir(directory):
    # Check if the file starts with "df_overall_tunning" and ends with ".csv"
    if filename.endswith(".csv"):
        # Read the csv file into a dataframe
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath, names=header,index_col=False)

        # Append the dataframe to the list
        df['filename']=filename
        dfs.append(df)


# Concatenate all the dataframes in the list into one dataframe
df_other_methods = pd.concat(dfs, ignore_index=True)

#10 Resampling
res=res[:10]

df_other_methods["avg"]=df_other_methods[res].mean(axis=1)

df_other_methods=df_other_methods[['filename','dataset','avg']]
df_other_methods['method']=df_other_methods['filename'].str.split('.').str[0]+"_UCR_10RES"
df_other_methods
df_other_methods=df_other_methods.rename(columns={'avg':'score'})
df_other_methods=df_other_methods[['dataset','score','method']]

C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\4288461203.py:17: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df = pd.read_csv(filepath, names=header,index_col=False)

In [47]:
# Set directory where the csv files are located

filepath = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/UCR_ARCHIVE_singleTrainTest_ALL_METHODS_MOD.csv'

df = pd.read_csv(filepath)
df = df.melt(id_vars=["Unnamed: 0"], 
        var_name="method", 
        value_name="score")
df = df.rename(columns={'Unnamed: 0':'dataset'})
df['method'] = df['method']+"_UCR_TRAIN_TEST"
df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [48]:

# Set directory where the csv files are located
#df_other_methods=df_other_methods[df_other_methods.method!="STC"]
filepath = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/SAST_PAPER_singleTrainTest_SAST_ST.csv'
df = pd.read_csv(filepath)
df = df.rename(columns={'folds:':'dataset','STC':'score'})
df['method']="STC_PAPERSAST_TRAIN_TEST"
df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [49]:
# Set directory where the csv files are located

filepath = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/SAST_PAPER_singleTrainTest_SAST_ST.csv'
df = pd.read_csv(filepath)
df = df.rename(columns={'folds:':'dataset','0':'score'})
df['method']="SAST_PAPERSAST_TRAIN_TEST"
df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [50]:
# Set directory where the csv files are located

filepath = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/ROCKET_PAPER_10RESAMPLES_BAKE_OFF.csv'
df = pd.read_csv(filepath)
df = df.melt(id_vars=["Dataset"], 
        var_name="method", 
        value_name="score")
df = df.rename(columns={'Dataset':'dataset'})
df['method'] = df['method']+"_PAPERROCKET_AVG_10RES"
df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [51]:
# Set directory where the csv files are located


filepath = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/ROCKET_PAPER_10RESAMPLES_2018_DS.csv'
df = pd.read_csv(filepath)
df = df.melt(id_vars=["Dataset"], 
        var_name="method", 
        value_name="score")
df = df.rename(columns={'Dataset':'dataset'})
df['method'] = df['method']+"_PAPERROCKET_AVG_10RES"
df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [52]:
# Set directory where the csv files are located


filepath = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/RDST_PAPER_30RESAMPLES_ALL_METHODS.csv'
df = pd.read_csv(filepath)
df = df.melt(id_vars=["dataset_name"], 
        var_name="method", 
        value_name="score")
df = df.rename(columns={'dataset_name':'dataset'})
df['method'] = df['method']+"_PAPERRDST_AVG_30RES"
df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [53]:
# Set directory where the csv files are located

filepath = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/RDST_PAPER_30RESAMPLES_RDST.csv'
df = pd.read_csv(filepath)
df = df.rename(columns={'dataset':'dataset','acc_mean':'score','model':'method'})
df['method'] = df['method']+"_PAPERRDST_AVG_30RES"
df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [54]:

# Set directory where the csv files are located
directory = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/Server17_Comparison_Other_Methods_singleTrainTest'

# Create an empty list to store the dataframes
dfs = []

# Loop through all files in the directory
for filename in os.listdir(directory):
    # Check if the file starts with "df_overall_tunning" and ends with ".csv"
    if filename.endswith(".csv"):
        # Read the csv file into a dataframe
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)

        # Append the dataframe to the list
        
        dfs.append(df)

# Concatenate all the dataframes in the list into one dataframe
df = pd.concat(dfs, ignore_index=True)
df=df[['dataset_name','classifier_name','accuracy']]

df=pd.pivot_table(df, index=['dataset_name','classifier_name'],aggfunc='mean').reset_index()
df['method']=df['classifier_name'].str.split('_').str[0]+"_RSAST_TRAIN_TEST"
df=df.rename(columns={'dataset_name':'dataset','accuracy':'score'})

df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [55]:
# Set directory where the csv files are located
directory = os.getcwd()+'/ExperimentationRSAST/results_other_methods/results_summarized/Server17_Comparison_Other_Methods_Resampling'

# Create an empty list to store the dataframes
dfs = []

# Loop through all files in the directory
for filename in os.listdir(directory):
    # Check if the file starts with "df_overall_tunning" and ends with ".csv"
    if filename.endswith(".csv"):
        # Read the csv file into a dataframe
        filepath = os.path.join(directory, filename)
        df = pd.read_csv(filepath)

        # Append the dataframe to the list
        
        dfs.append(df)

# Concatenate all the dataframes in the list into one dataframe
df = pd.concat(dfs, ignore_index=True)
df=df[['dataset_name','classifier_name','accuracy']]

df=pd.pivot_table(df, index=['dataset_name','classifier_name'],aggfunc='mean').reset_index()
df['method']=df['classifier_name'].str.split('_').str[0]+"_RSAST_10RES"
df=df.rename(columns={'dataset_name':'dataset','accuracy':'score'})

df=df[['dataset','score','method']]
df_other_methods=pd.concat([df_other_methods,df])

In [56]:
# Set directory where the RSAST result csv files are located

directories=[]
default_split_acfandpacf_k_1_10_sast=False
default_split_acfandpacf_k_1_10_notsast=False
default_split_all_k_1_10=False
default_split_all_acfandpacf_k_30_50=False
default_split_maxpacf_none_k_30_50=False
default_split_all_acfandpacf=False
default_split_all_acfandpacf_maxpacf_none_maxacf_k_1_50_p_1_100=False

resampling_acfandpacf_k_1_10_sast=True

if default_split_acfandpacf_k_1_10_sast:
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server17_Comparison_RSAST')
if default_split_acfandpacf_k_1_10_notsast:
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server17_not_used_sast')
if default_split_all_k_1_10:
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server17_Comparison_RSAST_All')   
if default_split_all_acfandpacf_k_30_50:
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server17_Comparison_RSAST_Extra_1')    
if default_split_maxpacf_none_k_30_50:
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server17_Comparison_RSAST_Extra_2')    
if resampling_acfandpacf_k_1_10_sast:
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server17_Resampling_Comparison_RSAST')     
if default_split_all_acfandpacf_maxpacf_none_maxacf_k_1_50_p_1_100:
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server16_Hyperparameter_Tunning')
    directories.append(os.getcwd()+'/ExperimentationRSAST/results_rsast/Server17_Hyperparameter_Tunning')


# Create an empty list to store the dataframes
dfs = []

# Loop through all files in the directory
for directory in directories:
    for filename in os.listdir(directory):
        # Check if the file starts with "df_overall_tunning" and ends with ".csv"
        if filename.startswith("df_all_overall_tunning") and filename.endswith(".csv"):
            # Read the csv file into a dataframe
            filepath = os.path.join(directory, filename)
            df = pd.read_csv(filepath)
            df['rpoint']=df['rpoint'].astype(str)
            df['nb_per_class']=df['nb_per_class'].astype(str)
            df['rpoint']=df['rpoint'].replace("(lenthg ts)//2","half_len")
            df['nb_per_class']=df['nb_per_class'].replace("(max instances per class)//2","half_instance")
            df['classifier_name']=df['classifier_name'].str.replace("\(lenthg ts\)//2","half_len")
            df['classifier_name']=df['classifier_name'].str.replace("\(max instances per class\)//2","half_instance")
            df['directory']=directory
            # Append the dataframe to the list
            dfs.append(df)

# Concatenate all the dataframes in the list into one dataframe
df_result = pd.concat(dfs, ignore_index=True)
# df_result.head(3)

In [57]:
hyperparameter='ACF&PACF: n_random_points=10 nb_inst_per_class=10'

In [58]:
df_result=df_result[['accuracy','dataset_name','classifier_name','time']]
df_result=df_result[df_result["classifier_name"]==hyperparameter]
df_result['classifier_name'].replace(hyperparameter,"RSAST",inplace=True)
hyperparameter="RSAST"
df_result.dataset_name.unique()

array(['ACSF1', 'Adiac', 'AllGestureWiimoteX', 'AllGestureWiimoteY',
       'AllGestureWiimoteZ', 'ArrowHead', 'Beef', 'BeetleFly',
       'BirdChicken', 'BME', 'Car', 'CBF', 'Chinatown',
       'ChlorineConcentration', 'CinCECGTorso', 'Coffee', 'Computers',
       'CricketX', 'CricketY', 'CricketZ', 'Crop', 'DiatomSizeReduction',
       'DistalPhalanxOutlineAgeGroup', 'DistalPhalanxOutlineCorrect',
       'DistalPhalanxTW', 'DodgerLoopDay', 'DodgerLoopGame',
       'DodgerLoopWeekend', 'Earthquakes', 'ECG200', 'ECG5000',
       'ECGFiveDays', 'ElectricDevices', 'EOGHorizontalSignal',
       'EOGVerticalSignal', 'EthanolLevel', 'FaceAll', 'FaceFour',
       'FacesUCR', 'FiftyWords', 'Fish', 'FordA', 'FordB',
       'FreezerRegularTrain', 'FreezerSmallTrain', 'Fungi',
       'GestureMidAirD1', 'GestureMidAirD2', 'GestureMidAirD3',
       'GesturePebbleZ1', 'GesturePebbleZ2', 'GunPoint',
       'GunPointAgeSpan', 'GunPointMaleVersusFemale',
       'GunPointOldVersusYoung', 'Ham', 'HandOutlines', 'Haptics',
       'Herring', 'HouseTwenty', 'InlineSkate', 'InsectEPGRegularTrain',
       'InsectEPGSmallTrain', 'InsectWingbeatSound', 'ItalyPowerDemand',
       'LargeKitchenAppliances', 'Lightning2', 'Lightning7', 'Mallat',
       'Meat', 'MedicalImages', 'MelbournePedestrian',
       'MiddlePhalanxOutlineAgeGroup', 'MiddlePhalanxOutlineCorrect',
       'MiddlePhalanxTW', 'MixedShapesRegularTrain',
       'MixedShapesSmallTrain', 'MoteStrain',
       'NonInvasiveFetalECGThorax1', 'NonInvasiveFetalECGThorax2',
       'OliveOil', 'OSULeaf', 'PhalangesOutlinesCorrect', 'Phoneme',
       'PickupGestureWiimoteZ', 'PigAirwayPressure', 'PLAID', 'Plane',
       'PowerCons', 'ProximalPhalanxOutlineAgeGroup',
       'ProximalPhalanxOutlineCorrect', 'ProximalPhalanxTW',
       'RefrigerationDevices', 'Rock', 'ScreenType', 'SemgHandGenderCh2',
       'SemgHandMovementCh2', 'SemgHandSubjectCh2',
       'ShakeGestureWiimoteZ', 'ShapeletSim', 'ShapesAll',
       'SmallKitchenAppliances', 'SmoothSubspace',
       'SonyAIBORobotSurface1', 'SonyAIBORobotSurface2',
       'StarLightCurves', 'Strawberry', 'SwedishLeaf', 'Symbols',
       'SyntheticControl', 'ToeSegmentation1', 'ToeSegmentation2',
       'Trace', 'TwoLeadECG', 'TwoPatterns', 'UMD',
       'UWaveGestureLibraryAll', 'UWaveGestureLibraryX',
       'UWaveGestureLibraryY', 'UWaveGestureLibraryZ', 'Wafer', 'Wine',
       'WordSynonyms', 'Worms', 'WormsTwoClass', 'Yoga'], dtype=object)

In [59]:
len(df_result.dataset_name.unique())

126

In [60]:
df_other_methods=df_other_methods.rename(columns={"dataset":"dataset_name","score":"accuracy","method":"classifier_name"})
df_other_methods.classifier_name.unique()

array(['BoP_UCR_10RES', 'BOSS_UCR_10RES', 'CID_DTW_UCR_10RES',
       'DDTW_UCR_10RES', 'DD_DTW_UCR_10RES', 'DTD_C_UCR_10RES',
       'DTW_F_UCR_10RES', 'EE_UCR_10RES', 'Flat-COTE_UCR_10RES',
       'FS_UCR_10RES', 'HIVE-COTE_UCR_10RES', 'LPS_UCR_10RES',
       'LS_UCR_10RES', 'MSM_UCR_10RES', 'RotF_UCR_10RES',
       'SAXVSM_UCR_10RES', 'ST_UCR_10RES', 'TSBF_UCR_10RES',
       'TSF_UCR_10RES', 'TWE_UCR_10RES', 'WDTW_UCR_10RES',
       'NB_UCR_TRAIN_TEST', 'C45_UCR_TRAIN_TEST', 'SVML_UCR_TRAIN_TEST',
       'SVMQ_UCR_TRAIN_TEST', 'BN_UCR_TRAIN_TEST', 'RandF_UCR_TRAIN_TEST',
       'RotF_UCR_TRAIN_TEST', 'MLP_UCR_TRAIN_TEST',
       'Euclidean_1NN_UCR_TRAIN_TEST', 'DTW_R1_1NN_UCR_TRAIN_TEST',
       'DTW_Rn_1NN_UCR_TRAIN_TEST', 'DDTW_R1_1NN_UCR_TRAIN_TEST',
       'DDTW_Rn_1NN_UCR_TRAIN_TEST', 'ERP_1NN_UCR_TRAIN_TEST',
       'LCSS_1NN_UCR_TRAIN_TEST', 'MSM_1NN_UCR_TRAIN_TEST',
       'TWE_1NN_UCR_TRAIN_TEST', 'WDDTW_1NN_UCR_TRAIN_TEST',
       'WDTW_1NN_UCR_TRAIN_TEST', 'DD_DTW_UCR_TRAIN_TEST',
       'DTD_C_UCR_TRAIN_TEST', 'DTW_F_UCR_TRAIN_TEST',
       'ST_UCR_TRAIN_TEST', 'LS_UCR_TRAIN_TEST', 'FS_UCR_TRAIN_TEST',
       'BoP_UCR_TRAIN_TEST', 'SAXVSM_UCR_TRAIN_TEST',
       'BOSS_UCR_TRAIN_TEST', 'TSF_UCR_TRAIN_TEST', 'TSBF_UCR_TRAIN_TEST',
       'LPS_UCR_TRAIN_TEST', 'ACF_UCR_TRAIN_TEST', 'PS_UCR_TRAIN_TEST',
       'EE_UCR_TRAIN_TEST', 'CID_DTW_UCR_TRAIN_TEST',
       'Flat-COTE_UCR_TRAIN_TEST', 'HIVE-COTE_UCR_TRAIN_TEST',
       'STC_PAPERSAST_TRAIN_TEST', 'SAST_PAPERSAST_TRAIN_TEST',
       'Rocket_PAPERROCKET_AVG_10RES', 'PF_PAPERROCKET_AVG_10RES',
       'BOSS_PAPERROCKET_AVG_10RES', 'ST_PAPERROCKET_AVG_10RES',
       'ResNet_PAPERROCKET_AVG_10RES', 'HCTE_PAPERROCKET_AVG_10RES',
       'ITime_PAPERROCKET_AVG_10RES', 'CHIEF_PAPERROCKET_AVG_10RES',
       'Arsenal_PAPERRDST_AVG_30RES', 'BOSS_PAPERRDST_AVG_30RES',
       'CIF_PAPERRDST_AVG_30RES', 'DrCIF_PAPERRDST_AVG_30RES',
       'HIVE-COTE 2.0_PAPERRDST_AVG_30RES',
       'HIVE-COTEv1_0_PAPERRDST_AVG_30RES',
       'InceptionTime_PAPERRDST_AVG_30RES',
       'MiniRocket_PAPERRDST_AVG_30RES',
       'ProximityForest_PAPERRDST_AVG_30RES', 'RISE_PAPERRDST_AVG_30RES',
       'ROCKET_PAPERRDST_AVG_30RES', 'ResNet_PAPERRDST_AVG_30RES',
       'S-BOSS_PAPERRDST_AVG_30RES', 'STC_PAPERRDST_AVG_30RES',
       'TDE_PAPERRDST_AVG_30RES', 'TS-CHIEF_PAPERRDST_AVG_30RES',
       'TSF_PAPERRDST_AVG_30RES', 'WEASEL_PAPERRDST_AVG_30RES',
       'cBOSS_PAPERRDST_AVG_30RES',
       'MultiRocket_100k_PAPERRDST_AVG_30RES',
       'MultiRocket_10k_PAPERRDST_AVG_30RES',
       'MultiRocket_PAPERRDST_AVG_30RES', 'R_DST_PAPERRDST_AVG_30RES',
       'R_DST_Ensemble_PAPERRDST_AVG_30RES', 'RDST_RSAST_TRAIN_TEST',
       'Rocket_RSAST_TRAIN_TEST', 'RDST_RSAST_10RES',
       'Rocket_RSAST_10RES'], dtype=object)

In [61]:

#Comparison RSAST, SAST and STC (No resampling)
#df_other_methods=df_other_methods[df_other_methods['classifier_name'].isin(['ST_UCR_TRAIN_TEST','SAST_PAPERSAST_TRAIN_TEST','DTW_R1_1NN_UCR_TRAIN_TEST'])]
#Comparison RSAST and Shapelet Methods (10 resampling)
#df_other_methods=df_other_methods[df_other_methods['classifier_name'].isin(['RDST_RSAST_10RES','FS_UCR_10RES', 'LS_UCR_10RES','DTW_R1_1NN_UCR_TRAIN_TEST'])]
#Comparison RSAST and Other Categories (distance, interval, dictionary)(10 resampling)
#df_other_methods=df_other_methods[df_other_methods['classifier_name'].isin(['EE_UCR_10RES', 'TSBF_UCR_10RES','BOSS_UCR_10RES','DTW_R1_1NN_UCR_TRAIN_TEST'])]
#Comparison RSAST and SOTA methods(10 resampling)
df_other_methods=df_other_methods[df_other_methods['classifier_name'].isin(['Rocket_RSAST_10RES','HCTE_PAPERROCKET_AVG_10RES','CHIEF_PAPERROCKET_AVG_10RES','DTW_R1_1NN_UCR_TRAIN_TEST'])]

#df_other_methods=df_other_methods[df_other_methods['classifier_name'].isin(['R_DST_PAPERRDST_AVG_30RES','RDST_RSAST_10RES','Rocket_RSAST_10RES','Rocket_PAPERROCKET_AVG_10RES','HIVE-COTE_UCR_10RES','HCTE_PAPERROCKET_AVG_10RES'])]
df_other_methods['classifier_name'].unique()

array(['DTW_R1_1NN_UCR_TRAIN_TEST', 'HCTE_PAPERROCKET_AVG_10RES',
       'CHIEF_PAPERROCKET_AVG_10RES', 'Rocket_RSAST_10RES'], dtype=object)

In [62]:

df_other_methods['classifier_name'].replace("DTW_R1_1NN_UCR_TRAIN_TEST","1NN-DTW",inplace=True)
df_other_methods['classifier_name'].replace("RotF_UCR_TRAIN_TEST","RotF",inplace=True)
df_other_methods['classifier_name'].replace("ST_UCR_TRAIN_TEST","STC",inplace=True)
df_other_methods['classifier_name'].replace("SAST_PAPERSAST_TRAIN_TEST","SAST",inplace=True)
df_other_methods['classifier_name'].replace("FS_UCR_TRAIN_TEST","FS",inplace=True)
df_other_methods['classifier_name'].replace("LS_UCR_TRAIN_TEST","LS",inplace=True)
df_other_methods['classifier_name'].replace("BOSS_UCR_TRAIN_TEST","BOSS",inplace=True)
df_other_methods['classifier_name'].replace("TSBF_UCR_TRAIN_TEST","TSBF",inplace=True)
df_other_methods['classifier_name'].replace("EE_UCR_TRAIN_TEST","EE",inplace=True)
df_other_methods['classifier_name'].replace("HIVE-COTE_UCR_TRAIN_TEST","HIVE-COTE",inplace=True)
df_other_methods['classifier_name'].replace("Rocket_RSAST_TRAIN_TEST","ROCKET",inplace=True)
df_other_methods['classifier_name'].replace("TSBF_UCR_TRAIN_TEST","TSBF",inplace=True)
df_other_methods['classifier_name'].replace("ResNet_PAPERROCKET_AVG_10RES","ResNet",inplace=True)
df_other_methods['classifier_name'].replace("HCTE_PAPERROCKET_AVG_10RES","HIVE-COTE",inplace=True)
df_other_methods['classifier_name'].replace("ITime_PAPERROCKET_AVG_10RES","InceptionTime",inplace=True)
df_other_methods['classifier_name'].replace("CHIEF_PAPERROCKET_AVG_10RES","TS-CHIEF",inplace=True)
df_other_methods['classifier_name'].replace("Rocket_PAPERROCKET_AVG_10RES","ROCKET",inplace=True)
df_other_methods['classifier_name'].replace("BOSS_PAPERROCKET_AVG_10RES","BOSS",inplace=True)
df_other_methods['classifier_name'].replace("ST_PAPERROCKET_AVG_10RES","ST",inplace=True)
df_other_methods['classifier_name'].replace("R_DST_PAPERRDST_AVG_30RES","RDST",inplace=True)
df_other_methods['classifier_name'].replace("FS_UCR_10RES","FS",inplace=True)
df_other_methods['classifier_name'].replace("LS_UCR_10RES","LS",inplace=True)
df_other_methods['classifier_name'].replace("BOSS_UCR_10RES","BOSS",inplace=True)
df_other_methods['classifier_name'].replace("EE_UCR_10RES","EE",inplace=True)
df_other_methods['classifier_name'].replace("TSBF_UCR_10RES","TSBF",inplace=True)
df_other_methods['classifier_name'].replace("RDST_RSAST_10RES","RDST",inplace=True)
df_other_methods['classifier_name'].replace("Rocket_RSAST_10RES","ROCKET",inplace=True)

In [63]:
df_other_methods['classifier_name'].unique()

array(['1NN-DTW', 'HIVE-COTE', 'TS-CHIEF', 'ROCKET'], dtype=object)

In [64]:
# concatenate the two dataframes
concatenated_df = pd.concat([df_other_methods, df_result])

# reset the index of the concatenated dataframe
concatenated_df = concatenated_df.reset_index(drop=True)

In [65]:
concatenated_df['classifier_name'].unique()

array(['1NN-DTW', 'HIVE-COTE', 'TS-CHIEF', 'ROCKET', 'RSAST'],
      dtype=object)

In [66]:
len(concatenated_df.dataset_name.unique())

143

### Overall analysis

#### Accuracy: RSAST vs Other methods

In [67]:
max_bx=max(df_result.accuracy)
min_bx=min(df_result.accuracy)



# Plot
fig, ax = plt.subplots()


#order=list(df_to_cd)
sns.boxplot(data=df_result, y='dataset_name', x='accuracy')
ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha='right')

# Axis details

ax.set(ylabel='dataset name', xlabel='accuracy', title='Accuracy Boxplot for Dataset:'+str(df_result["classifier_name"].unique()[0]))

# save plot
plt.savefig('ExperimentationRSAST/images_boxplot_acc/boxplot_acc_per_ds.png')

C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\698087263.py:12: UserWarning: FixedFormatter should only be used together with FixedLocator
  ax.set_xticklabels(ax.get_xticklabels(), rotation=90, ha='right')

In [68]:
filter_param=concatenated_df[concatenated_df.classifier_name==hyperparameter]

In [69]:
stats = filter_param.groupby(['dataset_name'])['accuracy'].agg(['mean', 'count', 'std'])

ci95_hi = []
ci95_lo = []
ci95_hi_lo = []

for i in stats.index:
    m, c, s = stats.loc[i]
    ci95_hi.append(m + 1.96*s/math.sqrt(c))
    ci95_lo.append(m - 1.96*s/math.sqrt(c))
    ci95_hi_lo.append(1.96*s/math.sqrt(c))

#stats['ci95_hi'] = ci95_hi
#stats['ci95_lo'] = ci95_lo
stats['ci95_interval'] = ci95_hi_lo
print(stats.round(2))

                    mean  count   std  ci95_interval
dataset_name
ACSF1               0.29     10  0.02           0.01
Adiac               0.63     10  0.01           0.01
AllGestureWiimoteX  0.67     10  0.01           0.00
AllGestureWiimoteY  0.71     10  0.01           0.01
AllGestureWiimoteZ  0.63     10  0.01           0.01
...                  ...    ...   ...            ...
Wine                0.91     10  0.03           0.02
WordSynonyms        0.68     10  0.00           0.00
Worms               0.63     10  0.02           0.01
WormsTwoClass       0.70     10  0.03           0.02
Yoga                0.84     10  0.01           0.00

[126 rows x 4 columns]

In [70]:
# create a pivot table with the mean of score by hyperparameter
t_score_by_method=pd.pivot_table(concatenated_df, values='accuracy', columns=['classifier_name'],index=['dataset_name'], aggfunc='mean')
t_score_by_method.iloc[0:25,:]

classifier_name         1NN-DTW  HIVE-COTE    ROCKET     RSAST  TS-CHIEF
dataset_name
ACSF1                       NaN        NaN  0.766000  0.292000    0.8600
Adiac                  0.603581     0.8107  0.767519  0.625064    0.7980
AllGesWiiX                  NaN        NaN       NaN       NaN    0.7820
AllGesWiiY                  NaN        NaN       NaN       NaN    0.7651
AllGesWiiZ                  NaN        NaN       NaN       NaN    0.7020
AllGestureWiimoteX          NaN        NaN  0.760000  0.669714       NaN
AllGestureWiimoteY          NaN        NaN  0.812429  0.709286       NaN
AllGestureWiimoteZ          NaN        NaN  0.689429  0.630857       NaN
ArrowHead              0.702857     0.8629  0.911429  0.780000    0.8229
BME                         NaN        NaN  1.000000  0.952667    1.0000
Beef                   0.633333     0.9333  0.746667  0.480000    0.7333
BeetleFly              0.700000     0.9500  0.850000  0.850000    0.9500
BirdChicken            0.750000     0.8500  0.965000  0.815000    0.9000
CBF                    0.996667     0.9989  0.992111  0.982333    0.9978
Car                    0.733333     0.8667  0.921667  0.920000    0.8500
Chinatown                   NaN        NaN  0.951895  0.949563    0.9816
ChlorineConcentration  0.648438     0.7120  0.813984  0.751589    0.7206
CinCECGTorso           0.650725     0.9964  0.877246  0.929420    0.9826
Coffee                 1.000000     1.0000  1.000000  1.000000    1.0000
Computers              0.700000     0.7600  0.825600  0.674800    0.7120
CricketX               0.753846     0.8231  0.835897  0.818718    0.7974
CricketY               0.743590     0.8487  0.861282  0.779744    0.8026
CricketZ               0.753846     0.8308  0.850513  0.812308    0.8359
Crop                        NaN        NaN  0.753929  0.624131    0.7412
DiatomSizeReduction    0.967320     0.9412  0.961765  0.979412    0.9771

In [71]:
t_score_by_method.iloc[25:49,:]

classifier_name,1NN-DTW,HIVE-COTE,ROCKET,RSAST,TS-CHIEF
dataset_name,,,,,
DistalPhalanxOutlineAgeGroup,0.769784,0.7626,0.825180,0.764029,0.7410
DistalPhalanxOutlineCorrect,0.717391,0.7717,0.843841,0.784783,0.7862
DistalPhalanxTW,0.589928,0.6835,0.720863,0.742446,0.6835
DodgerLoopDay,NaN,NaN,0.590000,0.482500,0.6138
DodgerLoopGame,NaN,NaN,0.871014,0.779710,0.9167
DodgerLoopWeekend,NaN,NaN,0.978261,0.972464,0.9783
ECG200,0.770000,0.8500,0.869000,0.865000,0.8600
ECG5000,0.924444,0.9462,0.948556,0.937067,0.9458
ECGFiveDays,0.767712,1.0000,0.999652,0.985947,1.0000
EOGHorSig,NaN,NaN,NaN,NaN,0.6439
EOGHorizontalSignal,NaN,NaN,0.811326,0.663260,NaN
EOGVerSig,NaN,NaN,NaN,NaN,0.5307
EOGVerticalSignal,NaN,NaN,0.796409,0.679834,NaN
Earthquakes,0.719424,0.7482,0.761151,0.731655,0.7482
ElectricDevices,0.602127,0.7703,0.896719,0.820218,0.7524
EthanolLevel,NaN,NaN,0.678000,0.604800,0.5656
FaceAll,0.807692,0.8030,0.988166,0.987515,0.8426
FaceFour,0.829545,0.9545,0.977273,1.000000,1.0000
FacesUCR,0.904878,0.9629,0.969902,0.953268,0.9649
FiftyWords,0.690110,0.8088,0.807692,0.720440,0.8462
Fish,0.822857,0.9886,0.980000,0.965143,0.9943
FordA,0.554545,0.9644,0.923864,0.847045,0.9470
FordB,0.619753,0.8235,0.910864,0.838765,0.8321
FreezerRegularTrain,NaN,NaN,0.995018,0.970316,0.9980

In [72]:
t_score_by_method.iloc[49:75,:]

classifier_name            1NN-DTW  HIVE-COTE    ROCKET     RSAST  TS-CHIEF
dataset_name
FreezerSmallTrain              NaN        NaN  0.996035  0.847789    0.9980
Fungi                          NaN        NaN  0.634409  0.591398    1.0000
GestureMidAirD1                NaN        NaN  0.695385  0.646154    0.7038
GestureMidAirD2                NaN        NaN  0.628462  0.530769    0.6823
GestureMidAirD3                NaN        NaN  0.353846  0.353846    0.4046
GesturePebbleZ1                NaN        NaN  0.968023  0.934302    0.8866
GesturePebbleZ2                NaN        NaN  0.966456  0.937342    0.8209
GunPoint                  0.906667     1.0000  0.995333  0.979333    1.0000
GunPointAgeSpan                NaN        NaN  0.990506  0.969937    0.9946
GunPointMaleVersusFemale       NaN        NaN  1.000000  0.989241    0.9937
GunPointOldVersusYoung         NaN        NaN  0.985714  0.971746    0.9749
Ham                       0.466667     0.6667  0.841905  0.808571    0.7143
HandOutlines              0.881081     0.9324  0.930811  0.845135    0.9297
Haptics                   0.376623     0.5195  0.571753  0.488312    0.5162
Herring                   0.531250     0.6875  0.609375  0.593750    0.5781
HouseTwenty                    NaN        NaN  0.954622  0.785714    0.9765
InlineSkate               0.383636     0.5000  0.488545  0.334364    0.5364
InsEPGRegTra                   NaN        NaN       NaN       NaN    1.0000
InsEPGSmaTra                   NaN        NaN       NaN       NaN    0.9715
InsectEPGRegularTrain          NaN        NaN  0.995984  0.910442       NaN
InsectEPGSmallTrain            NaN        NaN  0.867871  0.687952       NaN
InsectWingbeatSound       0.355051     0.6551  0.632323  0.549444    0.6465
ItalyPowerDemand          0.950437     0.9631  0.963460  0.963265    0.9718
LargeKitchenAppliances    0.794667     0.8640  0.933067  0.741333    0.7893
Lightning2                0.868852     0.8197  0.786885  0.749180    0.7705
Lightning7                0.726027     0.7397  0.776712  0.746575    0.7534

In [73]:
t_score_by_method.iloc[76:,:]

classifier_name,1NN-DTW,HIVE-COTE,ROCKET,RSAST,TS-CHIEF
dataset_name,,,,,
Meat,0.933333,0.9333,1.000000,0.990000,0.9000
MedicalImages,0.736842,0.7776,0.832895,0.649211,0.7974
MelbournePedestrian,NaN,NaN,0.901271,0.865929,0.8817
MiddlePhalanxOutlineAgeGroup,0.500000,0.5974,0.762338,0.709740,0.5909
MiddlePhalanxOutlineCorrect,0.697595,0.8316,0.861512,0.810653,0.8522
...,...,...,...,...,...
Wine,0.574074,0.7778,0.912963,0.909259,0.8889
WordSynonyms,0.648903,0.7382,0.747806,0.680721,0.7868
Worms,0.584416,0.5584,0.740260,0.627273,0.7922
WormsTwoClass,0.623377,0.7792,0.664935,0.701299,0.8182
Yoga,0.836667,0.9177,0.902200,0.842867,0.8483

In [74]:
t_score_by_method.describe().round(2)

classifier_name  1NN-DTW  HIVE-COTE  ROCKET   RSAST  TS-CHIEF
count              85.00      85.00  128.00  126.00    128.00
mean                0.74       0.85    0.86    0.79      0.85
std                 0.17       0.14    0.15    0.17      0.14
min                 0.23       0.38    0.27    0.23      0.36
25%                 0.64       0.77    0.78    0.69      0.78
50%                 0.75       0.86    0.90    0.81      0.89
75%                 0.86       0.96    0.97    0.93      0.98
max                 1.00       1.00    1.00    1.00      1.00

In [75]:
t_score_by_method=pd.pivot_table(concatenated_df, values='accuracy', index=['classifier_name'],columns=['dataset_name'], aggfunc='mean')
t_score_by_method=t_score_by_method.transpose()#[[hyperparameter,"SAST"]].round(2)

In [76]:
pd.pivot_table(concatenated_df, values='accuracy', index=['classifier_name'], aggfunc='var').round(4)

                 accuracy
classifier_name
1NN-DTW            0.0284
HIVE-COTE          0.0195
ROCKET             0.0211
RSAST              0.0297
TS-CHIEF           0.0208

In [77]:
pv_all=pd.pivot_table(df_result,index=['dataset_name'],values='accuracy',aggfunc="count")
ds_complete=pv_all[pv_all.accuracy==max(pv_all.accuracy)].reset_index().dataset_name.unique()
df_result=df_result[df_result.dataset_name.isin(ds_complete)]

df_other_methods=df_other_methods[df_other_methods.dataset_name.isin(ds_complete)]

pv_all=pd.pivot_table(df_other_methods,index=['dataset_name'],values='accuracy',aggfunc="count")
ds_complete=pv_all[pv_all.accuracy==max(pv_all.accuracy)].reset_index().dataset_name.unique()
df_other_methods=df_other_methods[df_other_methods.dataset_name.isin(ds_complete)]

df_result=df_result[df_result.dataset_name.isin(ds_complete)]
# concatenate the two dataframes
concatenated_df = pd.concat([df_other_methods, df_result])

# reset the index of the concatenated dataframe
concatenated_df = concatenated_df.reset_index(drop=True)

In [78]:
#concatenated_df=concatenated_df[concatenated_df.dataset_name!="Fungi"]
df_perf=pd.pivot_table(concatenated_df, values='accuracy', index=['classifier_name','dataset_name'], aggfunc='mean')

In [79]:


df_perf=df_perf.reset_index()
pd.pivot_table(df_perf, values='accuracy', index=['classifier_name'], aggfunc='count')

                 accuracy
classifier_name
1NN-DTW                85
HIVE-COTE              85
ROCKET                 85
RSAST                  85
TS-CHIEF               85

In [80]:
#concatenated_df['classifier_name']=concatenated_df['classifier_name'].str.split('_').str[0]
score_by_method=pd.pivot_table(df_perf, values='accuracy', columns=['classifier_name'],index=['dataset_name'], aggfunc='mean')
score_by_method

classifier_name   1NN-DTW  HIVE-COTE    ROCKET     RSAST  TS-CHIEF
dataset_name
Adiac            0.603581     0.8107  0.767519  0.625064    0.7980
ArrowHead        0.702857     0.8629  0.911429  0.780000    0.8229
Beef             0.633333     0.9333  0.746667  0.480000    0.7333
BeetleFly        0.700000     0.9500  0.850000  0.850000    0.9500
BirdChicken      0.750000     0.8500  0.965000  0.815000    0.9000
...                   ...        ...       ...       ...       ...
Wine             0.574074     0.7778  0.912963  0.909259    0.8889
WordSynonyms     0.648903     0.7382  0.747806  0.680721    0.7868
Worms            0.584416     0.5584  0.740260  0.627273    0.7922
WormsTwoClass    0.623377     0.7792  0.664935  0.701299    0.8182
Yoga             0.836667     0.9177  0.902200  0.842867    0.8483

[85 rows x 5 columns]

In [81]:
#hyperparameter='RDST_30RES'

In [82]:
t_score_by_method=pd.pivot_table(df_perf, values='accuracy', index=['classifier_name'],columns=['dataset_name'], aggfunc='mean')
t_score_by_method=t_score_by_method.transpose()#[[hyperparameter,"SAST"]].round(2)
for methods in t_score_by_method.columns.drop(hyperparameter):
    print("method: "+methods+" vs "+hyperparameter)
    total_wins=len(t_score_by_method[0<(t_score_by_method[hyperparameter].round(2)-t_score_by_method[methods].round(2))])
    print("winning "+hyperparameter+": "+str(total_wins))
    total_loss=len(t_score_by_method[0>(t_score_by_method[hyperparameter].round(2)-t_score_by_method[methods].round(2))])
    print("losse "+hyperparameter+": "+str(total_loss))
    total_draws=len(t_score_by_method[0==(t_score_by_method[hyperparameter].round(2)-t_score_by_method[methods].round(2))])
    print("draws: "+str(total_draws))

method: 1NN-DTW vs RSAST
winning RSAST: 61
losse RSAST: 18
draws: 6
method: HIVE-COTE vs RSAST
winning RSAST: 18
losse RSAST: 58
draws: 9
method: ROCKET vs RSAST
winning RSAST: 6
losse RSAST: 68
draws: 11
method: TS-CHIEF vs RSAST
winning RSAST: 15
losse RSAST: 60
draws: 10

In [83]:
delete_files_in_directory("ExperimentationRSAST/images_one_vs_one_comparison/")
for method in score_by_method.columns.drop(hyperparameter):
    y=score_by_method[hyperparameter]
    x=score_by_method[method]

    # set the style of the plot
    plt.style.use('seaborn')

    # create the plot
    fig, ax = plt.subplots(figsize=(8, 6))

    # plot the line
    ax.plot([0,1], [0,1])

    # plot the points
    ax.scatter(x, y, color='blue', edgecolor='blue', s=30, zorder=10)

    # add labels and title
    ax.set_ylabel(hyperparameter)
    ax.set_xlabel(method)
    ax.set_title('Accuracy')


    # set the background color
    ax.set_facecolor('lightgrey')
    plt.savefig('ExperimentationRSAST/images_one_vs_one_comparison/'+hyperparameter+'vs'+method+'.png')

All files deleted successfully.

C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\3386241549.py:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\3386241549.py:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\3386241549.py:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')
C:\Users\Surface pro\AppData\Local\Temp\ipykernel_16072\3386241549.py:7: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use('seaborn')

In [84]:
# create a pivot table with the mean of time by hyperparameter
time_per_method=pd.pivot_table(df_result, values='time', columns=['classifier_name'],index=['dataset_name'], aggfunc='mean')/60
time_per_method

classifier_name      RSAST
dataset_name
Adiac             0.404516
ArrowHead         0.074400
Beef              0.442508
BeetleFly         0.446825
BirdChicken       0.397464
...                    ...
Wine              0.049412
WordSynonyms      0.624260
Worms            15.356934
WormsTwoClass     4.971590
Yoga              0.250619

[85 rows x 1 columns]

#### Generate CD Diagram comparison

In [85]:
concatenated_df.classifier_name.unique()

array(['1NN-DTW', 'HIVE-COTE', 'TS-CHIEF', 'ROCKET', 'RSAST'],
      dtype=object)

In [86]:


df_perf=pd.pivot_table(concatenated_df, values='accuracy', index=['classifier_name','dataset_name'], aggfunc='mean')
df_perf=df_perf.reset_index()
draw_cd_diagram(df_perf, labels=True, fname='ExperimentationRSAST/images_cd_diagram/cd-diagram_overall_comparison_other_method.png')

{0: '1NN-DTW', 1: 'RSAST', 2: 'HIVE-COTE', 3: 'TS-CHIEF', 4: 'ROCKET'}
[2, 3]

In [87]:
df_perf["classifier_name"].unique()

array(['1NN-DTW', 'HIVE-COTE', 'ROCKET', 'RSAST', 'TS-CHIEF'],
      dtype=object)

In [88]:
_, average_ranks, _ = wilcoxon_holm(df_perf=df_perf)
min_rank= min(average_ranks)
average_ranks=pd.DataFrame(average_ranks)
average_ranks

                  0
1NN-DTW    4.517647
RSAST      3.623529
HIVE-COTE  2.541176
TS-CHIEF   2.429412
ROCKET     1.888235

In [89]:
uca_ds=pd.read_excel("ExperimentationRSAST/DataSetsUCLASummary.xlsx")

uca_ds.columns

Index(['USED SAST', 'BAKE OFF', 'N RUNS S17_S16_HT', 'N RUNS S17_SAST_DS',
       'N RUNS S17_SAST_DS_all', 'N RUNS S17_SAST_DS_extra_1',
       'N RUNS S17_SAST_DS_extra_2', 'N RUNS S17_OTHER_DEFAULT_SPLIT',
       'N RUNS S17_RSAST_R10', 'N RUNS S17_OTHER_R10', 'ID', 'Name', 'Type',
       'Train ', 'Test ', 'Class', 'Length', 'RSAST (10,10) WORST SAST?',
       'O(|c|nm²)', 'O(|c|nm³)', 'Approx Time (hours)', 'L25', 'L50', 'L75',
       'ED (w=0)', 'DTW (learned_w) ', 'DTW (w=100)', 'Default rate',
       'Data donor/editor', '50/L', 'Unnamed: 30'],
      dtype='object')

In [90]:
concatenated_df=concatenated_df.merge(uca_ds, left_on=['dataset_name'],right_on=['Name'])
concatenated_df.columns

Index(['dataset_name', 'accuracy', 'classifier_name', 'time', 'USED SAST',
       'BAKE OFF', 'N RUNS S17_S16_HT', 'N RUNS S17_SAST_DS',
       'N RUNS S17_SAST_DS_all', 'N RUNS S17_SAST_DS_extra_1',
       'N RUNS S17_SAST_DS_extra_2', 'N RUNS S17_OTHER_DEFAULT_SPLIT',
       'N RUNS S17_RSAST_R10', 'N RUNS S17_OTHER_R10', 'ID', 'Name', 'Type',
       'Train ', 'Test ', 'Class', 'Length', 'RSAST (10,10) WORST SAST?',
       'O(|c|nm²)', 'O(|c|nm³)', 'Approx Time (hours)', 'L25', 'L50', 'L75',
       'ED (w=0)', 'DTW (learned_w) ', 'DTW (w=100)', 'Default rate',
       'Data donor/editor', '50/L', 'Unnamed: 30'],
      dtype='object')

In [91]:
acc_per_type=pd.pivot_table(concatenated_df, values="accuracy", index=["dataset_name","Type",'classifier_name'])
#acc_per_type=concatenated_df
acc_per_type=acc_per_type.reset_index()

In [92]:
max_bx=max(acc_per_type.accuracy)
min_bx=min(acc_per_type.accuracy)


#df_to_cd=pd.pivot_table(df_to_cd, index=['dataset_name','classifier_name'], columns=['rpoint'],values='accuracy')
#df_to_cd = df_to_cd.reindex(columns=["1","10","30","50","100","half_len"])

#print(df_to_cd.head(5))

# Plot
fig, ax = plt.subplots()


#order=list(df_to_cd)
sns.boxplot(data=acc_per_type, y='Type', x='accuracy', hue ='classifier_name')
#plt.boxplot(df_to_cd, labels=list(df_to_cd), showfliers=False)
#ax.set_xticklabels(ax.get_xticklabels(), rotation=45, ha='right')

# Axis details

ax.set(ylabel='dataset name', xlabel='accuracy', title='Accuracy Boxplot for Dataset:'+str(df_result["classifier_name"].unique()[0]))

#plt.xticks([1, 2, 3, 4, 5, 6],list(df_to_cd) )
#print(df_to_cd.describe())
plt.tight_layout()
# save plot
plt.savefig('ExperimentationRSAST/images_boxplot_acc_per_type/boxplot_acc_per_type.png')

In [93]:
pd.pivot_table(acc_per_type,index='Type', aggfunc=lambda x: len(x.unique()))

           accuracy  classifier_name  dataset_name
Type
Device           30                5             6
ECG              27                5             6
Image           139                5            29
Motion           67                5            14
Sensor           80                5            18
Simulated        18                5             5
Spectro          27                5             7